<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<main id="main">
    <h1>Articulos</h1>
    <nav id="navbar">
        <button class="btn btn-outline-primary" id="backButton">
            <i class="fas fa-arrow-left"></i>
        </button>
        <button class="btn btn-outline-primary" id="createButton">New</button>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="sortDropdown" ngbDropdownToggle>Sort By: {{sortOption}}</button>
            <div ngbDropdownMenu aria-labelledby="sortDropdown">
              <button (click)="changeSort(0)" ngbDropdownItem>Name</button>
              <button (click)="changeSort(1)" ngbDropdownItem>Price</button>
            </div>
        </div>
        <form [formGroup]="radioGroupForm">
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="asc">
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="true"> ASC
              </label>
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" [value]="false"> DESC
              </label>
            </div>
        </form>
    </nav>
    <router-outlet> 
        <pre>{{radioGroupForm.value['asc']}}</pre>
        <case-articles [articles]='articles'></case-articles>
    </router-outlet>
</main>
